<%- include("../partials/header.ejs") %>

<div class="container text-center">
    <div id="single-post-container">
        <div class="col">
            <h1>Edit your Post</h1>
                        <div class="space-20px"></div>
            <div class="space-20px"></div>

            <form action="/update" method="post">

                <div class="input-group mb-3">
                  <span class="input-group-text">Title</span>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                    aria-describedby="button-addon1" name="title" required value="<%= postToEdit.title %>">
                </div>
              
                <div class="input-group">
                  <span class="input-group-text">Body</span>
                  <textarea class="form-control" aria-label="With textarea" rows="20" name="content" ><%= postToEdit.content %></textarea>
                </div>
                <div class="space-20px"></div>
              
                <div class="input-group mb-3">
                  <span class="input-group-text">Author</span>
                  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                    aria-describedby="button-addon1" name="author" required value="<%= postToEdit.author %>">
                </div>

                <input id="userId" name="id" type="hidden" value="<%= postToEdit.id %>">
              
                <div class="space-20px"></div>
              
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-dark" type="submit">Update</button>
                </div>
              </form>

            
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>