<%- include("../partials/header.ejs") %>

    <div class="container text-left">
        <div id="single-post-container">
            <h1>
                <%= singlePost.title %>
            </h1>
            <div class="space-20px"></div>
            <p> <strong>By: <%= singlePost.author %></strong>
            </p>
            <p>
                <%= singlePost.content %>
            </p>
            
            <small>Published on: <%= singlePost.date %>
            </small>
            <div class="space-20px"></div>
            <p>
                <a href="/edit-post/<%= singlePost.id %>">Edit</a>
            </p>
            
        </div>
    </div>




    <%- include("../partials/footer.ejs") %>